button { 
    font-weight: bold;
   color: rgb(255, 0, 0);
}

h1 {
    font-family: Arial, Helvetica, sans-serif ;
    }       
    
    h2 {
    font-weight: bold;
    color: blue;
    }

    .hide {
        display: none;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .clear {
        clear: both;
    }
    #reset-container, h1 {
        text-align: center;
    }
    